<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark">
        <a class="navbar-brand" href="https://innovadtu.com/home">INNOVA DTU</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/lectures">Lectures</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/competitions">Competitions</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/workshops">Workshops</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/sponsors">Sponsors</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/team">Team</a>
                </li>
                <li class="nav-item">
                    <a class="nav-item" href="https://innovadtu.com/contact">Contact</a>
                </li>
            </ul>
        </div>
    </nav>
</div>