
<ng-template #content let-modal>

  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Sponsor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body slide-in-fwd-center">


    <form  [formGroup]="form" class="mat-form-field" id="formLogin" name="formLogin" role="form">
      <!-- <div class="form-group">
        <label for="uname1">sponsorName </label>
        <input formControlName="sponsorName" class="form-control" id="uname1" name="uname1" required="" type="text">
      </div> -->
      <mat-form-field appearance="outline">
        <mat-label for="uname1">Sponsor Name</mat-label>
        <input matInput placeholder="Ex: Ballebaazi" formControlName="sponsorName" id="uname1" name="uname1">
      </mat-form-field><br>

      <mat-form-field appearance="outline">
        <mat-label for="uname1">Sponsor Title</mat-label>
        <input matInput placeholder="Ex: Ballebaazi" formControlName="sponsorTitle" id="pwd1">
      </mat-form-field><br>
      <!-- <div class="form-group">
        <label>sponsorTitle</label>
        <input  formControlName="sponsorTitle"class="form-control" id="pwd1" required="" type="text">
      </div> -->

      <mat-form-field appearance="outline">
        <mat-label for="uname1">Year</mat-label>
        <input matInput placeholder="Ex: 2021" formControlName="year" id="pwd1">
      </mat-form-field><br>

      <!-- <div class="form-group">
        <label>year</label>
        <input formControlName="year"  class="form-control" id="pwd1" required="" type="text">
      </div> -->

      <div class="mat-form-field">
        <button mat-stroked-button class="img-pick" color="primary" type="button" (click)="filePicker.click()">Pick Image</button>
        <input type="file" name = "image" #filePicker (change)="onImagePicked($event)">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
        <img [src]="imagePreview" [alt]="form.value.title">
      </div>
      <div class="image-preview" *ngIf="imagePreview !== '' && imagePreview && form.get('image').invalid">
        <mat-error *ngIf="form.get('image').invalid">Please select an Image</mat-error>
      </div><br>


      <div class="mat-form-field">
        <mat-label>Status</mat-label>
        <!-- <button class="status mat-radio-button"  mat-raised-button color="primary">Upcoming</button>
          <button class="status mat-radio-button"  mat-raised-button color="warn">Done</button>
          <mat-radio-group aria-label="Select an option"> -->
        <mat-radio-button class="status" type="button" (click)="Upcoming()" value="1">Upcoming</mat-radio-button>
        <mat-radio-button class="status" type="button" (click)="Done()" value="2">Done</mat-radio-button>
        <!-- </mat-radio-group> -->
      </div>


      <!-- <div class="form-group">
        <label>Link</label>
        <input formControlName="link" class="form-control" id="pwd1" required="" type="text">
      </div> -->

      <mat-form-field appearance="outline">
        <mat-label>Link</mat-label>
        <input matInput placeholder="Ex: ballebaazi.com" formControlName="link" id="pwd1">
      </mat-form-field><br>




      <div class="modal-footer">
        <button mat-raised-button color="primary" type="submit" (click)="modal.close('Save click'); onSaveSponsor($event)" class="btn-save">Save</button>
      </div>
    </form>
  </div>

</ng-template>

<!-- <button mat-raised-button color="primary" (click)="open(content)">Add Lecture</button> -->


<div class="row">
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" style="text-align: center;">Sponsors</h4>
    </div>
   <div><button mat-raised-button color="primary" class="add-btn" (click)="open(content)"><span class="material-icons">
      add_circle
      </span> Add Sponsor</button></div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table" multi = "true" *ngIf = " sponsors.length > 0 && !isLoading" >
          <thead class=" text-primary">
            <th>
              sponsorName
            </th>
            <th>
              sponsorTitle
            </th>
            <th>
              year
            </th>
            <th>
              status
            </th>
            <th>
              link
            </th>
            <th>
              Image Preview
            </th>
            <th>
              Action
            </th>
          </thead>
          <tbody>


            <tr *ngFor="let sponsor of sponsors">
              <td>
                {{ sponsor.sponsorName }}
              </td>
              <td>
                {{ sponsor.sponsorTitle}}
              </td>
              <td>
                {{ sponsor.year}}
              </td>

              <td>
                {{ sponsor.status }}
              </td>
              <td>
                {{ sponsor.link }}
              </td>
              <td>
                <img class = "image-preview" [src]="sponsor.imagePath" [alt]="sponsor.sponsorName">
              </td>
              <td>
                <button mat-raised-button  (click)="onEditSponsor(sponsor._id); open(content)" color="primary" style="margin: 5px;" >
                  <span class="material-icons">
                    edit
                  </span>
                </button>
                <button mat-raised-button color="warn" style="margin: 5px;" (click)="onDeleteSponsor(sponsor._id)">
                  <span class="material-icons">
                    delete
                  </span>
                </button>


              </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</div>
